body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
color: #66BFBF;
font-family: "Sacramento", cursive;
font-size: 5.62rem;
margin: 40px auto 0px auto;
}

#introduction {
  font-weight: normal;
  color: #40514E;

}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}

#hr1 {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  height: 0px;
  width: 4%;
  margin: 80px auto 80px auto;
}

#hr2 {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  height: 0px;
  width: 4%;
  margin: 150px auto 80px auto;
}

.top-container {
  background-color: #f3f4ed;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
  font-weight: bold;
}

.top-cloud {
  position: relative;
  top: 50px;
  left: 300px;
}

.bottom-cloud {
  position: relative;
  bottom: 300px;
  left: 100px;
}

#development_img{
  float: left;
  margin-right: 30px;
  width: 33%;
}

#python_img {
  float: right;
  margin-left: 30px;
  width: 33%;
}


#profile_img {
  height: 300px;
  width: 300px;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 55%;
}

.profile {
  width: 30%;
  margin: auto;
}

button {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: 100;
   margin: 30px auto;
   padding: 15px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

button:hover {
   background: #24EA4C;
   border: solid #E9AA22 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-bottom: 100px;
}

.footer-link {
  position: relative;
  top: 30px;
  margin: auto 30px auto 30;
}

#inc {
  color: white;
  position: relative;
  top: 40px;
}

.space {
visibility: hidden;
}
